# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# =====================
# Virtual environment
# =====================
venv/
ENV/
env/
.venv/

# =====================
# Django
# =====================
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# =====================
# Media
# =====================
/media/

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Static files
# =====================
video/static/video/
# Ignore staticfiles (collectstatic output)
staticfiles/

# Private HLS files
mysite_video/private_hls/

# =====================
# Notes / docs
# =====================
GIT_LFS_SHEET.md
