# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Media
/media

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Static (เก็บเฉพาะที่ collectstatic สร้างใหม่)
static/
staticfiles/

GIT_LFS_SHEET.md